.classified-card {
  outline: 1px solid seagreen;
  height: 100%;
  width: 300px;
  padding: 10px;  
  border-radius: 12px;
}

.classified-card > h3 {
  font-size: 20px;
}

.question-card {
  height: 100%;
  width: 300px;
  border-radius: 12px;
  cursor: pointer;
}