.era-button {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--theme-third-color);
  width: 20%;
  border: none;
  padding: 10px;
  cursor: pointer;
  overflow: hidden;
  border: 1px solid var(--theme-fifth-color);
  /* transition: background-color 0.4s ease; */
}

.era-button:hover {
  background: var(--theme-fourth-color);
  border: 1px solid var(--theme-sixth-color);
}

.era-button.active {
  color: var(--theme-first-color);
  background-color: var(--theme-fifth-color);
}

.era-image {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.title-container {
  opacity: 0;
  transform: translateX(-50px);
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.title-container.visible {
  opacity: 1;
  transform: translateX(0);
}

.active-title {
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 1.2rem;
  text-align: center;
  white-space: pre-wrap;
}
