:root {
  --theme-first-color: #F7F6F2;
  --theme-second-color: #C8C6C6;
  --theme-third-color: #F0E5CF;
  --theme-fourth-color: #ece0d4;
  --theme-fifth-color: #4B6587;
  --theme-sixth-color: #102C57;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.work-app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--theme-third-color);
  height: 100vh;
  width: 100%;
  padding: 10px;
}

header {
  position: relative;
  height: 200px;
  display: flex;
  justify-content: center;
}

header > h1 {
  font-family: 'Courier New', Courier;
  font-size: 2.8rem;
  color: var(--theme-sixth-color);
  padding: 15px;
  text-align: center;
  z-index: 1;
}

.hero-image {
  position: absolute;
  top: 0;
  width: 100%;
  height: 200px;
  z-index: 0;
}

.era-container, .works-container {
  display: flex;
  justify-content: space-between;
}

.era-container {
  background: seashell;
}

.works-container {
  height: 310px;
}